<h3 class="newHeader"><br/><br/>7 Day Forecast</h3>
<h5 class="newHeader"> {{currentLocation}} </h5>
<div class="timeZone"> as of {{time}}, {{date}} {{timeZone}} <br/><br/></div>

<div class="weather">{{todayDay}} {{todayDate}} - {{todayTemperature}} ° - {{todayWind}} Wind Speed {{current_high_temp}} High Temperature {{current_low_temp}} Low Temperature <img src="/img/{{todayIcon}}.svg"></div>

<div class="weather">{{dayTwoDay}} {{dayTwoDate}} - {{dayTwoTemperature}} ° - {{dayTwoWind}} Wind Speed {{dayTwo_high_temp}} High Temperature {{dayTwo_low_temp}} Low Temperature <img src="/img/{{dayTwoIcon}}.svg"></div>
<div class="weather">{{dayThreeDay}} {{dayThreeDate}} - {{dayThreeTemperature}} ° - {{dayThreeWind}} Wind Speed {{dayThree_high_temp}} High Temperature {{dayThree_low_temp}} Low Temperature <img src="/img/{{dayThreeIcon}}.svg"></div>
<div class="weather">{{dayFourDay}} {{dayFourDate}} - {{dayFourTemperature}} ° - {{dayFourWind}} Wind Speed {{dayFour_high_temp}} High Temperature {{dayFour_low_temp}} Low Temperature <img src="/img/{{dayFourIcon}}.svg"></div>
<div class="weather">{{dayFiveDay}} {{dayFiveDate}} - {{dayFiveTemperature}} ° - {{dayFiveWind}} Wind Speed {{dayFive_high_temp}} High Temperature {{dayFive_low_temp}} Low Temperature <img src="/img/{{dayFiveIcon}}.svg"></div>
<div class="weather">{{daySixDay}} {{daySixDate}} - {{daySixTemperature}} ° - {{daySixWind}} Wind Speed {{daySix_high_temp}} High Temperature {{daySix_low_temp}} Low Temperature <img src="/img/{{daySixIcon}}.svg"></div>
<div class="weather">{{daySevenDay}} {{daySevenDate}} - {{daySevenTemperature}} ° - {{daySevenWind}} Wind Speed {{daySeven_high_temp}} High Temperature {{daySeven_low_temp}} Low Temperature <img src="/img/{{daySevenIcon}}.svg"></div>


<div class="disclaimer"> <br/><br/><br/>Created by {{developer}} <br/>{{courseName}}</div>
