<h2 class="newHeader">Current Location: {{currentLocation}} </h2>

<div class="monday">Monday - {{mondayTemperature}} Degrees - {{mondayPrecipitation}} Chance of Rain <img src="/img/cloudIcon.png"></div>
<div class="tuesday">Tuesday - {{tuesdayTemperature}} Degrees - {{tuesdayPrecipitation}} Chance of Rain <img src="/img/rainIcon.png"></div>
<div class="wednesday">Wednesday - {{wednesdayTemperature}} Degrees - {{wednesdayPrecipitation}} Chance of Rain <img src="/img/rainIcon.png"></div>
<div class="thursday">Thursday - {{thursdayTemperature}} Degrees - {{thursdayPrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>
<div class="friday">Friday - {{fridayTemperature}} Degrees - {{fridayPrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>
<div class="saturday">Saturday - {{saturdayTemperature}} Degrees - {{saturdayPrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>
<div class="sunday">Sunday - {{sundayTemperature}} Degrees - {{sundayPrecipitation}} Chance of Rain <img src="/img/cloudIcon.png"></div>
