<h3 class="newHeader"><br/><br/>7 Day Forecast: {{currentLocation}} </h3>
<div class="timeZone"> as of {{time}}, {{date}} {{timeZone}} <br/><br/></div>

<div class="today">{{todayDay}} {{todayDate}} - {{todayTemperature}} Degrees - {{todayPrecipitation}} Chance of Rain <img src="/img/cloudIcon.png"></div>

<div class="dayTwo">{{dayTwoDay}} {{dayTwoDate}} - {{dayTwoTemperature}} Degrees - {{dayTwoPrecipitation}} Chance of Rain <img src="/img/cloudIcon.png"></div>
<div class="dayThree">{{dayThreeDay}} {{dayThreeDate}} - {{dayThreeTemperature}} Degrees - {{dayThreePrecipitation}} Chance of Rain <img src="/img/rainIcon.png"></div>
<div class="dayFour">{{dayFourDay}} {{dayFourDate}} - {{dayFourTemperature}} Degrees - {{dayFourPrecipitation}} Chance of Rain <img src="/img/rainIcon.png"></div>
<div class="dayFive">{{dayFiveDay}} {{dayFiveDate}} - {{dayFiveTemperature}} Degrees - {{dayFivePrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>
<div class="daySix">{{daySixDay}} {{daySixDate}} - {{daySixTemperature}} Degrees - {{daySixPrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>
<div class="daySeven">{{daySevenDay}} {{daySevenDate}} - {{daySevenTemperature}} Degrees - {{daySevenPrecipitation}} Chance of Rain <img src="/img/sunIcon.png"></div>


<div class="disclaimer"> <br/><br/><br/>Created by {{developer}} <br/>{{courseName}}</div>
