<h3 class="newHeader"><br/><br/>7 Day Forecast</h3>
<div class="timeZone"> as of {{time}}, {{date}}<br/><br/></div>

<div class="row">
  <div class="col">
     <div class="radio-col">
      </div>
  </div>
  <div class="col">
    <form class = "location" action="/newsearch" method="POST">
      <label for="location"></label>
      <input type="text" id="location" name="location" placeholder="Enter Zipcode or City">
      <input class="btn btn-primary btn-sm" type="submit" value="Get Weather"><br><br>
    </form>
  </div>
  <div class="col">
  </div>
</div>

<div class="container" style="padding-bottom: 25px;">
    <div class="row">
      <div class="col">
        {{!-- Initial code for search history display. #each loops through the 'search' array.
          /clearhistory POST action clears 'search' array and and redirects to "/". --}}
          <div class="search-history">
              <p style="font-size: 16px; font-weight: 600; padding:5px; margin:0rem">
                Search History:
              </p>
              <p style="padding:5px; height:75%">
                {{#each search}}       
                {{.}}<br>
                {{/each}}
              </p>
              <form id="clearsearchhistory" action="/clearhistory" method="POST"
                style="padding:5px">
                <button class="btn btn-primary btn-sm">Clear History</button>
              </form>
          </div>
        </div>
        <div class="col">
            <div class="weather-widget">
                <div class="current">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city"><small><small>CITY:</small></small> {{currentLocation}}</div>
                        <div class="temp">{{todayTemperature}}</div>
                        <div class="wind"><small><small>WIND:</small></small> {{todayWind}}</div>
                        <div class="humidity"><small><small>HUMIDITY:</small></small> {{todayHumidity}}%</div>
                        <div class="pressure"><small><small>PRESSURE: </small></small>{{today_pressure}} <small>Pa</small></div>
			<div>&nbsp;</div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>{{todayDayShort}}</h3>
                        <p><img src="/img/{{todayIcon}}.svg"></p>
                    </div>
                    <div class="day">
                        <h3>{{dayTwoDayShort}}</h3>
                        <p><img src="/img/{{dayTwoIcon}}.svg"></p>
                    </div>
                    <div class="day">
                        <h3>{{dayThreeDayShort}}</h3>
                        <p><img src="/img/{{dayThreeIcon}}.svg"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
          {{!--Documentation Source: https://developers.google.com/maps/documentation/javascript/adding-a-google-map --}}
            <div class="weather-map" id="map"></div> {{!-- Div Element for the Map--}}
            <script>
              function initMap(){
              var locationLatitude = {{locationLatitude}};
              var locationLongitude = {{locationLongitude}};
              var weatherLocation = {lat:locationLatitude,lng:locationLongitude};
              var map = new google.maps.Map(document.getElementById('map'), {zoom:6,center:weatherLocation});
              var marker = new google.maps.Marker({position:weatherLocation, map:map});
              }
            </script>
        </div>
    </div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <div class="row align-items-center">
            <div class="col align-self-center">Date: {{todayDay}} {{todayDate}}</div>    
            <div class="col align-self-center">Temperature: {{current_high_temp}} / {{current_low_temp}}</div>    
            <div class="col align-self-center"><img src="/img/{{todayIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
          <div class="left-accordion">
            <div class="day">
              Day Time: {{current_day_temp}} 
            </div>
            <div class="night">
              Night Time: {{current_night_temp}}
            </div>
          </div>
          <div class="right-accordion">
            {{todayWind}} Wind Speed <br>
            {{todayHumidity}}% Humidity <br>
            {{today_pressure}} Pa Pressure
          </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <div class="row align-items-center">
            <div class="col">Date: {{dayTwoDay}} {{dayTwoDate}}</div>   
            <div class="col">Temperature: {{dayTwo_high_temp}} / {{dayTwo_low_temp}}</div>
            <div class="col"><img src="/img/{{dayTwoIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{dayTwo_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{dayTwo_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{dayTwoWind}} Wind Speed <br>
          {{dayTwoHumidity}}% Humidity <br>
          {{dayTwo_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <div class="row align-items-center">
            <div class="col">Date: {{dayThreeDay}} {{dayThreeDate}}</div>   
            <div class="col">Temperature: {{dayThree_high_temp}} / {{dayThree_low_temp}}</div>
            <div class="col"><img src="/img/{{dayThreeIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{dayThree_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{dayThree_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{dayThreeWind}} Wind Speed <br>
          {{dayThreeHumidity}}% Humidity <br>
          {{dayThree_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <div class="row align-items-center">
            <div class="col">Date: {{dayFourDay}} {{dayFourDate}}</div>   
            <div class="col">Temperature: {{dayFour_high_temp}} / {{dayFour_low_temp}}</div>
            <div class="col"><img src="/img/{{dayFourIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{dayFour_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{dayFour_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{dayFourWind}} Wind Speed <br>
          {{dayFourHumidity}}% Humidity <br>
          {{dayFour_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <div class="row align-items-center">
            <div class="col">Date: {{dayFiveDay}} {{dayFiveDate}}</div>   
            <div class="col">Temperature: {{dayFive_high_temp}} / {{dayFive_low_temp}}</div>
            <div class="col"><img src="/img/{{dayFiveIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{dayFive_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{dayFive_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{dayFiveWind}} Wind Speed <br>
          {{dayFiveHumidity}}% Humidity <br>
          {{dayFive_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <div class="row align-items-center">
            <div class="col">Date: {{daySixDay}} {{daySixDate}}</div>   
            <div class="col">Temperature: {{daySix_high_temp}} / {{daySix_low_temp}}</div>
            <div class="col"><img src="/img/{{daySixIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{daySix_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{daySix_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{daySixWind}} Wind Speed <br>
          {{daySixHumidity}}% Humidity <br>
          {{daySix_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <div class="row align-items-center">
            <div class="col">Date: {{daySevenDay}} {{daySevenDate}}</div>   
            <div class="col">Temperature: {{daySeven_high_temp}} / {{daySeven_low_temp}}</div>
            <div class="col"><img src="/img/{{daySevenIcon}}.svg"></div>
          </div>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
      <div class="card-body">
        <div class="left-accordion">
          <div class="day">
            Day Time: {{daySeven_day_temp}} 
          </div>
          <div class="night">
            Night Time: {{daySeven_night_temp}}
          </div>
        </div>
        <div class="right-accordion">
          {{daySevenWind}} Wind Speed <br>
          {{daySevenHumidity}}% Humidity <br>
          {{daySeven_pressure}} Pa Pressure
        </div>
      </div>
    </div>
  </div>
</div>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBPH7E-1UWMVO13QgYk3kVfYYpqqM-oLQ&callback=initMap"></script>