<h3 class="newHeader"><br/><br/>7 Day Forecast: {{currentLocation}} </h3>
<div class="timeZone"> as of {{time}}, {{date}} {{timeZone}} <br/><br/></div>

<div class="today">{{todayDay}} {{todayDate}} - {{todayTemperature}} ° - {{todayWind}} Wind Speed <img src={{todayIcon}}></div>

<div class="dayTwo">{{dayTwoDay}} {{dayTwoDate}} - {{dayTwoTemperature}} ° - {{dayTwoWind}} Wind Speed <img src="/img/cloudIcon.png"></div>
<div class="dayThree">{{dayThreeDay}} {{dayThreeDate}} - {{dayThreeTemperature}} ° - {{dayThreeWind}} Wind Speed <img src="/img/rainIcon.png"></div>
<div class="dayFour">{{dayFourDay}} {{dayFourDate}} - {{dayFourTemperature}} ° - {{dayFourWind}} Wind Speed <img src="/img/rainIcon.png"></div>
<div class="dayFive">{{dayFiveDay}} {{dayFiveDate}} - {{dayFiveTemperature}} ° - {{dayFiveWind}} Wind Speed <img src="/img/sunIcon.png"></div>
<div class="daySix">{{daySixDay}} {{daySixDate}} - {{daySixTemperature}} ° - {{daySixWind}} Wind Speed <img src="/img/sunIcon.png"></div>
<div class="daySeven">{{daySevenDay}} {{daySevenDate}} - {{daySevenTemperature}} ° - {{daySevenWind}} Wind Speed <img src="/img/sunIcon.png"></div>


<div class="disclaimer"> <br/><br/><br/>Created by {{developer}} <br/>{{courseName}}</div>
