<h3 class="newHeader"><br/><br/>7 Day Forecast</h3>
<!-- <h5 class="newHeader"> {{currentLocation}} </h5> -->
<div class="timeZone"> as of {{time}}, {{date}}<br/><br/></div>
<!-- Added for Testing City/Zip search. Displays most recent search string on the UI -->
<div>(Testing) Display the Weather For: {{currentSearch}}</div> 

<form class = "location" action="/newsearch" method="POST">
  <label for="location"></label>
  <input type="text" id="location" name="location" placeholder="Enter Zipcode or City">
  <input class="btn btn-primary btn-sm" type="submit" value="Get Weather"><br><br>
</form>

<div class="container" style="padding-bottom: 25px;">
    <div class="row">
      <div class="col radio-col">
      </div>
        <div class="col">
            <div class="weather-widget">
                <div class="current">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city"><small><small>CITY:</small></small> {{currentLocation}}</div>
                        <div class="temp">{{todayTemperature}} <small></small></div>
                        <div class="wind"><small><small>WIND:</small></small> {{todayWind}}</div>
                        <div class="humidity"><small><small>Humidity:</small></small> {{todayHumidity}}%</div>
                        <div class="pressure"><small><small>PRESSURE:</small></small>{{today_pressure}} <small>Pa</small></div>
			<div>&nbsp;</div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>{{todayDayShort}}</h3>
                        <p><img src="/img/{{todayIcon}}.svg"></p>
                    </div>
                    <div class="day">
                        <h3>{{dayTwoDayShort}}</h3>
                        <p><img src="/img/{{dayTwoIcon}}.svg"></p>
                    </div>
                    <div class="day">
                        <h3>{{dayThreeDayShort}}</h3>
                        <p><img src="/img/{{dayThreeIcon}}.svg"></p>
                    </div>
                </div>
            </div>
        </div>
         {{!-- Initial code for search history display. #each loops through the 'search' array.
         /clearhistory POST action clears 'search' array and and redirects to "/". --}}
        <div class="col">
          <div class="search-history">
            <p>Search History:</p>
            <br>
            {{#each search}}       
      	    {{.}}<br>
            {{/each}}
            </div>
            <form id="clearsearchhistory" action="/clearhistory" method="POST">
              <button>Clear History</button>
            </form>
        </div>
    </div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{todayDay}} {{todayDate}}    {{current_high_temp}} / {{current_low_temp}}    <img src="/img/{{todayIcon}}.svg">
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">
        {{todayWind}} Wind Speed <br>
        {{todayHumidity}}% Humidity <br>
	{{today_pressure}} Pa Pressure 
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {{dayTwoDay}} {{dayTwoDate}}      {{dayTwo_high_temp}} / {{dayTwo_low_temp}}  <img src="/img/{{dayTwoIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
      <div class="card-body">
        {{dayTwoWind}} Wind Speed <br>
        {{dayTwoHumidity}}% Humidity <br>
	{{dayTwo_pressure}} Pa Pressure
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          {{dayThreeDay}} {{dayThreeDate}}      {{dayThree_high_temp}} / {{dayThree_low_temp}}  <img src="/img/{{dayThreeIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
      <div class="card-body">
        {{dayThreeWind}} Wind Speed <br>
        {{dayThreeHumidity}}% Humidity <br>
	{{dayThree_pressure}} Pa Pressure
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          {{dayFourDay}} {{dayFourDate}}      {{dayFour_high_temp}} / {{dayFour_low_temp}}  <img src="/img/{{dayFourIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
      <div class="card-body">
        {{dayFourWind}} Wind Speed <br>
        {{dayFourHumidity}}% Humidity <br>
	{{dayFour_pressure}} Pa Pressure
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          {{dayFiveDay}} {{dayFiveDate}}      {{dayFive_high_temp}} / {{dayFive_low_temp}}  <img src="/img/{{dayFiveIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
      <div class="card-body">
        {{dayFiveWind}} Wind Speed <br>
        {{dayFiveHumidity}}% Humidity <br>
	{{dayFive_pressure}} Pa Pressure
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          {{daySixDay}} {{daySixDate}}      {{daySix_high_temp}} / {{daySix_low_temp}}  <img src="/img/{{daySixIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
      <div class="card-body">
        {{daySixWind}} Wind Speed <br>
        {{daySixHumidity}}% Humidity <br>
	{{daySix_pressure}} Pa Pressure
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn collapsed weather-btn" style="width: -webkit-fill-available" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          {{daySevenDay}} {{daySevenDate}}      {{daySeven_high_temp}} / {{daySeven_low_temp}}  <img src="/img/{{daySevenIcon}}.svg">
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven">
      <div class="card-body">
        {{daySevenWind}} Wind Speed <br>
        {{daySevenHumidity}}% Humidity <br>
	{{daySeven_pressure}} Pa Pressure
      </div>
    </div>
  </div>
</div>
